<p id="notice"><%= notice %></p>

<p>
  <b>Site:</b>
  <%= @page.site.url %>
</p>

<p>
  <b>URI:</b>
  <%= @page.url %>
</p>

<p>
  <b>Visits:</b>
  <%= @page.visits %>
</p>

<p>
  <b>Total Visit Duration:</b>
  <%= @page.totalVisitDuration.to_f %>
</p>

<p>
  <b>Avg Visit Duration:</b>
  <%= @page.totalVisitDuration.to_f / @page.visits %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
