<p id="notice"><%= notice %></p>

<p>
  <b>Site:</b>
  <%= @page.site %>
</p>

<p>
  <b>Url:</b>
  <%= @page.url %>
</p>

<p>
  <b>Visits:</b>
  <%= @page.visits %>
</p>

<p>
  <b>Totalvisitduration:</b>
  <%= @page.totalVisitDuration %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
