<% if notice %>
<p id = "notice"><%= notice %></p>
<%end %>

<h1 id = "catalog"> Your Shopping Catalog </h1>

<div id = "listing">
<% @products.each do |product| %>
	<div class = "entry">
		
		<h3><%= product.title %></h3>
		<%= sanitize product.description %>

		<div class = "priceline">
			<span class = "price"><%= number_to_currency(product.price) %></span>
			<div class = "but"><%= button_to 'Add to cart', line_items_path(:product_id => product), :remote => true %></div>
		</div>
		<hr />
		<% end %>
	</div>
</div>
