<!DOCTYPE html>
<html>
<head>
  <title>Proj2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "custom" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "EN", :locale=>'en'%>
  <%= link_to "ES", :locale=>'es'%>

<div id = "columns">
<div id = "side">

	<% if !!session[:user_id] %>
	 <p>Welcome, <%= User.find_by_id(session[:user_id]).name %> </p>
		<% if User.find_by_id(session[:user_id]).role == "admin"%>
			<%= link_to t('.home'), admin_path %><br />
			<%= link_to t('.orders'), orders_path %><br />
			<%= link_to t('.products'), products_path %><br />
			<%= link_to t('.users'), users_path %><br />

			<br />
			<%= button_to t('.logout'), logout_path, :method => :delete %>

		<% else %>
		<%= button_to t('.logout'), logout_path, :method => :delete %>
	<br />

		<% if @cart %>
		
		<%= render @cart %>
		
		
		<% end %>
		<% end %>

	<% else %>
		<%= button_to t('.login'), login_path %>
		<%= button_to t('.signup'), new_user_path, :method => :get %>
		<br />
		<br />
		<% if @cart %>
			<%= render @cart %>
		<% end %>

		
	<% end %>

</div>

</div>
<%= yield %>

</body>
</html>

